*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 200px;
  height: 200px;
  background: salmon;
  margin: 30px;
  transition: all ease-in-out 0.4s;
}
.animated {
  background: lightblue;
  transform: scale(1.3);
}